* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  height: 60px;
}

.dashboard-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 220px;
  background-color: #222;
  color: white;
  height: calc(100vh - 60px); /* minus navbar height */
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
